body
	{
		margin: 0px;
		padding: 0px;
		background: #334467;
		font-family: 'Courier New', sans-serif;
		font-size: 12pt;
		color: #E5EEFF;
	}

	a
	{
		color: #E5EEFF;
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0px auto;
		width: 800px;
	}

	#profile
	{
		width:18%;
		border-radius: 50%; 
		margin-top:2em 
	}


/*********************************************************************************/
/* Homepage                                                                     */
/*********************************************************************************/

#homepage{
		background:url("images/background.jpg") no-repeat center center fixed;
		background-size: cover;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

/*header for other pages*/
	#header-wrapper
	{
		padding: 6em 0em 2em 0em;
	}
	#header
	{
		text-align: center;
	}

/*header for homepage*/
	#header-homepage
	{
		text-align:center;
		background:rgba(0,0,100,0.1);	
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-200px;
		margin-left:-400px;
	}

	#header-homepage a
	{
	    color:#000;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 2em;
		padding:0em;
		border-width:0;
	}

	#logo h1:hover a
	{
		color: #3E5A99;
	}

	#logo-homepage h1
	{
		margin: 0 auto;
	}

	#logo-homepage h1:hover a
	{
		color: #4682B4;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
	/*menu for other pages*/
	#menu
	{
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 1.3em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #3E5A99;
	}

	
	/*menu for homepage*/
	#menu-homepage li
	{
		display:inline-block;
	}
	#menu-homepage li a
	{
		padding: 1.3em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		color: #000;
	}

	#menu-homepage li:hover a, #menu-homepage li.active a, #menu-homepage li.active span
	{
		color: #4682B4;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 1px;
		font-size: 10px;
		color: rgba(255,255,255,0.6);
	}

/*********************************************************************************/
/* Content                                                                     */
/*********************************************************************************/

#content{
	padding: 1em 0em 5em 0em;
}

#content h4{
	font-weight:normal;
	margin: 0px auto;
}

.box{
	padding-top:3em;
	padding-bottom:3em;
}

#content ul{
	list-style-type:none;
}

/*********************************************************************************/
/* Icon                                                                   */
/*********************************************************************************/

#icon a{
	display:inline-block;
}

#icon img{
	width:40px;
	height:auto;
	padding: 1em 1em;
	margin-top:0em;
}
